
node_modules/


npm-debug.log
yarn-debug.log
yarn-error.log


.env


.vscode/
.idea/


.DS_Store   # macOS
Thumbs.db   # Windows


/dist/
build/


*.swp
*.swo
*.bak


coverage/
*.lcov


*.log


bower_components/


.sass-cache/


*.tsbuildinfo
